.App {
  text-align: center;
  display: flex;
}


.field {
  margin: 40px auto;
  width: 800px;
}

.field__row {
  display: flex;
}
/* .App {
  display: flex;
  /* grid-template-columns: 4fr, 1fr; */

/* .Description {
  margin-right: auto;
} */
